
<div class="row">
    <div class="well col-md-offset-4 col-md-4">
      <%= form_for signin_path do |f| %>

    <% if @sign_in_error %>
    <p style="color:red">
        <%= @sign_in_error %>
      </p>
    <% end %>

 <h1 class="text-center">Sign In</h1>

      <div>
        <%= label_tag :email, nil, class: "control-label" %>
      </div>
      <div>
        <%= email_field_tag :email, nil, class: "form-control" %>
      </div>

      <div>
        <%= label_tag :password, nil, class: "control-label" %>
      </div>
      <div>
        <%= password_field_tag :password, nil, class: "form-control" %>
      </div>
    <br>
      <div>
        <%= f.submit "Sign in", class: "btn btn-primary" %>
      </div>
  </div>
</div>

<% end %>
