<!DOCTYPE html>
<html>
<head>

  <title><%= content_for(:title) || "Denise McCoy - Music" %></title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <h2>Denise McCoy - Musician, Music Teacher</h2>
        <h5>Voice, Woodwinds, Piano, Cello, Guitar</h5>
        <%= link_to "Home", root_path, class: "navbar-brand" %>
        <%=  link_to_unless_current "About", about_path, class: "navbar-brand" %>
        <%= link_to_unless_current "Teaching", lessons_path, class: "navbar-brand" %>


        <ul class= "nav navbar-nav navbar-right">
          <% if current_user %>
          <%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user) %>
          <%= link_to "Sign Out", signout_path %>
          <% else %>
          <%= link_to "Sign Up", signup_path %>
          <%= link_to "Sign In", signin_path %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="container">
      <hr>
      <div class="address">
        <a href="mailto:#">Denise.L.McCoy@gmail.com</a>
      </div>
    </div>
  </footer>

</body>
</
html>
